body {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#me {
  height: 150px;
  border-radius: 25%;
  border-style: solid;
  border-color: gray;
}

h1, h2, #bio {
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 18px;
}
