body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

#about-container {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

#about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#me {
  height: 150px;
  border-radius: 25%;
  border-style: solid;
  border-color: #919191;
  margin-top: 40px;
}

h1, h2, #bio {
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 18px;
  margin-top: 0;
}

#grey {
  height: 3px;
  background-color: #919191;
  border: none;
  width: 50px;
}

#bio {
  font-size: 14px;
}
